In [1]:
!python -V

Python 3.9.13

In [2]:
import pandas as pd
import fastparquet
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Lasso

In [3]:
'''
# Read the Parquet file
df_train = pd.read_parquet('./data/green_tripdata_2021-01.parquet')
df_val = pd.read_parquet('./data/green_tripdata_2021-05.parquet')
df_test = pd.read_parquet('./data/green_tripdata_2021-07.parquet')
'''

"\n# Read the Parquet file\ndf_train = pd.read_parquet('./data/green_tripdata_2021-01.parquet')\ndf_val = pd.read_parquet('./data/green_tripdata_2021-05.parquet')\ndf_test = pd.read_parquet('./data/green_tripdata_2021-07.parquet')\n"

In [4]:
'''
# Save as CSV
df_train.to_csv('./data/green_tripdata_2021-01.csv', index=False)
df_val.to_csv('./data/green_tripdata_2021-02.csv', index=False)
df_test.to_csv('./data/green_tripdata_2021-07.csv', index=False)
'''

"\n# Save as CSV\ndf_train.to_csv('./data/green_tripdata_2021-01.csv', index=False)\ndf_val.to_csv('./data/green_tripdata_2021-02.csv', index=False)\ndf_test.to_csv('./data/green_tripdata_2021-07.csv', index=False)\n"

In [5]:
df_train = pd.read_csv('./data/green_tripdata_2021-01.csv')
df_val = pd.read_csv('./data/green_tripdata_2021-02.csv')
df_test = pd.read_csv('./data/green_tripdata_2021-07.csv')

C:\Users\Sam Berchie\AppData\Local\Temp\ipykernel_19692\3898608297.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('./data/green_tripdata_2021-01.csv')
C:\Users\Sam Berchie\AppData\Local\Temp\ipykernel_19692\3898608297.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_val = pd.read_csv('./data/green_tripdata_2021-02.csv')
C:\Users\Sam Berchie\AppData\Local\Temp\ipykernel_19692\3898608297.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('./data/green_tripdata_2021-07.csv')

In [6]:
df_train.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,NaN,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,NaN,0.3,8.30,1.0,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2.0,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.0,0.0,-0.5,0.00,0.0,NaN,-0.3,-52.80,3.0,1.0,0.00

In [7]:
df_val.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-05-01 00:49:47,2021-05-01 00:52:58,N,1.0,65,25,1.0,0.56,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
1,2,2021-05-01 01:08:45,2021-05-01 01:25:36,N,1.0,25,223,1.0,9.37,27.5,0.5,0.5,7.20,0.0,NaN,0.3,36.00,1.0,1.0,0.0
2,2,2021-05-01 00:12:39,2021-05-01 00:17:09,N,1.0,134,135,2.0,1.44,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,0.0
3,2,2021-05-01 00:22:24,2021-05-01 00:33:03,N,1.0,82,226,1.0,1.78,9.0,0.5,0.5,3.80,0.0,NaN,0.3,14.10,1.0,1.0,0.0
4,2,2021-05-01 00:53:41,2021-05-01 00:57:00,N,1.0,41,166,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0

In [8]:
df_test.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,0.0
1,2,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,NaN,0.3,43.30,2.0,1.0,0.0
2,2,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,NaN,0.3,10.14,1.0,1.0,0.0
3,2,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.0
4,2,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2.0,1.0,0.0

In [10]:
len(df_train), len(df_val)

(76518, 88180)

In [9]:
def read_dataframe(filename):
    df = pd.read_csv(filename)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime) 
    df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)

    df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime
    df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

    df = df[(df.duration >= 0) & (df.duration <= 60)] 

    categorical = ['PULocationID', 'DOLocationID']
    df.loc[:, categorical] = df[categorical].astype(str)
    
    return df

In [27]:
df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

In [29]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.50,...,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.00,3.933333
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.00,...,0.5,2.81,0.00,NaN,0.3,16.86,1.0,1.0,2.75,8.750000
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.00,...,0.5,1.00,0.00,NaN,0.3,8.30,1.0,1.0,0.00,5.966667
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.00,...,0.5,0.00,0.00,NaN,0.3,9.30,2.0,1.0,0.00,7.083333
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.00,...,-0.5,0.00,0.00,NaN,-0.3,-52.80,3.0,1.0,0.00,0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,2,2021-01-31 21:38:00,2021-01-31 22:16:00,NaN,NaN,81,90,NaN,17.63,56.23,...,0.0,0.00,6.12,NaN,0.3,65.40,NaN,NaN,NaN,38.000000
76514,2,2021-01-31 22:43:00,2021-01-31 23:21:00,NaN,NaN,35,213,NaN,18.36,46.66,...,0.0,12.20,6.12,NaN,0.3,65.28,NaN,NaN,NaN,38.000000
76515,2,2021-01-31 22:16:00,2021-01-31 22:27:00,NaN,NaN,74,69,NaN,2.50,18.95,...,0.0,0.00,0.00,NaN,0.3,22.00,NaN,NaN,NaN,11.000000
76516,2,2021-01-31 23:10:00,2021-01-31 23:37:00,NaN,NaN,168,215,NaN,14.48,48.87,...,0.0,0.00,6.12,NaN,0.3,58.04,NaN,NaN,NaN,27.000000
76517,2,2021-01-31 23:25:00,2021-01-31 23:35:00,NaN,NaN,119,244,NaN,1.81,15.45,...,0.0,0.00,0.00,NaN,0.3,18.50,NaN,NaN,NaN,10.000000

In [44]:
# df[df.trip_type == 2]

In [46]:
df.duration.describe(percentiles=[0.95, 0.98, 0.99])

count    76518.000000
mean        19.927896
std         59.338594
min          0.000000
50%         13.883333
95%         44.000000
98%         56.000000
99%         67.158167
max       1439.600000
Name: duration, dtype: float64

In [49]:
df = df[(df.duration >= 0) & (df.duration <= 60)]

In [51]:
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

In [56]:
df.loc[:, categorical] = df[categorical].astype(str)

In [60]:
from sklearn.feature_extraction import DictVectorizer

In [64]:
train_dicts = df[categorical + numerical].to_dict(orient='records')

In [65]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [66]:
X_train

<75356x508 sparse matrix of type '<class 'numpy.float64'>'
	with 226068 stored elements in Compressed Sparse Row format>

In [67]:
dv.feature_names_

['DOLocationID=1',
 'DOLocationID=10',
 'DOLocationID=100',
 'DOLocationID=101',
 'DOLocationID=102',
 'DOLocationID=106',
 'DOLocationID=107',
 'DOLocationID=108',
 'DOLocationID=109',
 'DOLocationID=11',
 'DOLocationID=111',
 'DOLocationID=112',
 'DOLocationID=113',
 'DOLocationID=114',
 'DOLocationID=115',
 'DOLocationID=116',
 'DOLocationID=117',
 'DOLocationID=118',
 'DOLocationID=119',
 'DOLocationID=12',
 'DOLocationID=120',
 'DOLocationID=121',
 'DOLocationID=122',
 'DOLocationID=123',
 'DOLocationID=124',
 'DOLocationID=125',
 'DOLocationID=126',
 'DOLocationID=127',
 'DOLocationID=128',
 'DOLocationID=129',
 'DOLocationID=13',
 'DOLocationID=130',
 'DOLocationID=131',
 'DOLocationID=132',
 'DOLocationID=133',
 'DOLocationID=134',
 'DOLocationID=135',
 'DOLocationID=136',
 'DOLocationID=137',
 'DOLocationID=138',
 'DOLocationID=139',
 'DOLocationID=14',
 'DOLocationID=140',
 'DOLocationID=141',
 'DOLocationID=142',
 'DOLocationID=143',
 'DOLocationID=144',
 'DOLocationID=145',
 'DOLocationID=146',
 'DOLocationID=147',
 'DOLocationID=148',
 'DOLocationID=149',
 'DOLocationID=15',
 'DOLocationID=150',
 'DOLocationID=151',
 'DOLocationID=152',
 'DOLocationID=153',
 'DOLocationID=154',
 'DOLocationID=155',
 'DOLocationID=156',
 'DOLocationID=157',
 'DOLocationID=158',
 'DOLocationID=159',
 'DOLocationID=16',
 'DOLocationID=160',
 'DOLocationID=161',
 'DOLocationID=162',
 'DOLocationID=163',
 'DOLocationID=164',
 'DOLocationID=165',
 'DOLocationID=166',
 'DOLocationID=167',
 'DOLocationID=168',
 'DOLocationID=169',
 'DOLocationID=17',
 'DOLocationID=170',
 'DOLocationID=171',
 'DOLocationID=172',
 'DOLocationID=173',
 'DOLocationID=174',
 'DOLocationID=175',
 'DOLocationID=177',
 'DOLocationID=178',
 'DOLocationID=179',
 'DOLocationID=18',
 'DOLocationID=180',
 'DOLocationID=181',
 'DOLocationID=182',
 'DOLocationID=183',
 'DOLocationID=184',
 'DOLocationID=185',
 'DOLocationID=186',
 'DOLocationID=187',
 'DOLocationID=188',
 'DOLocationID=189',
 'DOLocationID=19',
 'DOLocationID=190',
 'DOLocationID=191',
 'DOLocationID=192',
 'DOLocationID=193',
 'DOLocationID=194',
 'DOLocationID=195',
 'DOLocationID=196',
 'DOLocationID=197',
 'DOLocationID=198',
 'DOLocationID=2',
 'DOLocationID=20',
 'DOLocationID=200',
 'DOLocationID=201',
 'DOLocationID=202',
 'DOLocationID=203',
 'DOLocationID=205',
 'DOLocationID=206',
 'DOLocationID=207',
 'DOLocationID=208',
 'DOLocationID=209',
 'DOLocationID=21',
 'DOLocationID=210',
 'DOLocationID=211',
 'DOLocationID=212',
 'DOLocationID=213',
 'DOLocationID=214',
 'DOLocationID=215',
 'DOLocationID=216',
 'DOLocationID=217',
 'DOLocationID=218',
 'DOLocationID=219',
 'DOLocationID=22',
 'DOLocationID=220',
 'DOLocationID=221',
 'DOLocationID=222',
 'DOLocationID=223',
 'DOLocationID=224',
 'DOLocationID=225',
 'DOLocationID=226',
 'DOLocationID=227',
 'DOLocationID=228',
 'DOLocationID=229',
 'DOLocationID=23',
 'DOLocationID=230',
 'DOLocationID=231',
 'DOLocationID=232',
 'DOLocationID=233',
 'DOLocationID=234',
 'DOLocationID=235',
 'DOLocationID=236',
 'DOLocationID=237',
 'DOLocationID=238',
 'DOLocationID=239',
 'DOLocationID=24',
 'DOLocationID=240',
 'DOLocationID=241',
 'DOLocationID=242',
 'DOLocationID=243',
 'DOLocationID=244',
 'DOLocationID=245',
 'DOLocationID=246',
 'DOLocationID=247',
 'DOLocationID=248',
 'DOLocationID=249',
 'DOLocationID=25',
 'DOLocationID=250',
 'DOLocationID=251',
 'DOLocationID=252',
 'DOLocationID=253',
 'DOLocationID=254',
 'DOLocationID=255',
 'DOLocationID=256',
 'DOLocationID=257',
 'DOLocationID=258',
 'DOLocationID=259',
 'DOLocationID=26',
 'DOLocationID=260',
 'DOLocationID=261',
 'DOLocationID=262',
 'DOLocationID=263',
 'DOLocationID=264',
 'DOLocationID=265',
 'DOLocationID=27',
 'DOLocationID=28',
 'DOLocationID=29',
 'DOLocationID=3',
 'DOLocationID=30',
 'DOLocationID=31',
 'DOLocationID=32',
 'DOLocationID=33',
 'DOLocationID=34',
 'DOLocationID=35',
 'DOLocationID=36',
 'DOLocationID=37',
 'DOLocationID=38',
 'DOLocationID=39',
 'DOLocationID=4',
 'DOLocationID=40',
 'DOLocationID=41',
 'DOLocationID=42',
 'DOLocationID=43',
 'DOLocationID=44',
 'DOLocationID=45',
 'DOLocationID=46',
 'DOLocationID=47',
 'DOLocationID=48',
 'DOLocationID=49',
 'DOLocationID=50',
 'DOLocationID=51',
 'DOLocationID=52',
 'DOLocationID=53',
 'DOLocationID=54',
 'DOLocationID=55',
 'DOLocationID=56',
 'DOLocationID=57',
 'DOLocationID=58',
 'DOLocationID=59',
 'DOLocationID=6',
 'DOLocationID=60',
 'DOLocationID=61',
 'DOLocationID=62',
 'DOLocationID=63',
 'DOLocationID=64',
 'DOLocationID=65',
 'DOLocationID=66',
 'DOLocationID=67',
 'DOLocationID=68',
 'DOLocationID=69',
 'DOLocationID=7',
 'DOLocationID=70',
 'DOLocationID=71',
 'DOLocationID=72',
 'DOLocationID=73',
 'DOLocationID=74',
 'DOLocationID=75',
 'DOLocationID=76',
 'DOLocationID=77',
 'DOLocationID=78',
 'DOLocationID=79',
 'DOLocationID=8',
 'DOLocationID=80',
 'DOLocationID=81',
 'DOLocationID=82',
 'DOLocationID=83',
 'DOLocationID=84',
 'DOLocationID=85',
 'DOLocationID=86',
 'DOLocationID=87',
 'DOLocationID=88',
 'DOLocationID=89',
 'DOLocationID=9',
 'DOLocationID=90',
 'DOLocationID=91',
 'DOLocationID=92',
 'DOLocationID=93',
 'DOLocationID=94',
 'DOLocationID=95',
 'DOLocationID=96',
 'DOLocationID=97',
 'DOLocationID=98',
 'PULocationID=1',
 'PULocationID=10',
 'PULocationID=100',
 'PULocationID=101',
 'PULocationID=102',
 'PULocationID=106',
 'PULocationID=107',
 'PULocationID=108',
 'PULocationID=11',
 'PULocationID=112',
 'PULocationID=113',
 'PULocationID=114',
 'PULocationID=115',
 'PULocationID=116',
 'PULocationID=117',
 'PULocationID=118',
 'PULocationID=119',
 'PULocationID=12',
 'PULocationID=120',
 'PULocationID=121',
 'PULocationID=122',
 'PULocationID=123',
 'PULocationID=124',
 'PULocationID=125',
 'PULocationID=126',
 'PULocationID=127',
 'PULocationID=128',
 'PULocationID=129',
 'PULocationID=13',
 'PULocationID=130',
 'PULocationID=131',
 'PULocationID=132',
 'PULocationID=133',
 'PULocationID=134',
 'PULocationID=135',
 'PULocationID=136',
 'PULocationID=137',
 'PULocationID=138',
 'PULocationID=139',
 'PULocationID=14',
 'PULocationID=140',
 'PULocationID=141',
 'PULocationID=142',
 'PULocationID=143',
 'PULocationID=144',
 'PULocationID=145',
 'PULocationID=146',
 'PULocationID=147',
 'PULocationID=148',
 'PULocationID=149',
 'PULocationID=15',
 'PULocationID=150',
 'PULocationID=151',
 'PULocationID=152',
 'PULocationID=153',
 'PULocationID=154',
 'PULocationID=155',
 'PULocationID=156',
 'PULocationID=157',
 'PULocationID=158',
 'PULocationID=159',
 'PULocationID=16',
 'PULocationID=160',
 'PULocationID=161',
 'PULocationID=162',
 'PULocationID=163',
 'PULocationID=164',
 'PULocationID=165',
 'PULocationID=166',
 'PULocationID=167',
 'PULocationID=168',
 'PULocationID=169',
 'PULocationID=17',
 'PULocationID=170',
 'PULocationID=171',
 'PULocationID=172',
 'PULocationID=173',
 'PULocationID=174',
 'PULocationID=175',
 'PULocationID=176',
 'PULocationID=177',
 'PULocationID=178',
 'PULocationID=179',
 'PULocationID=18',
 'PULocationID=180',
 'PULocationID=181',
 'PULocationID=182',
 'PULocationID=183',
 'PULocationID=184',
 'PULocationID=185',
 'PULocationID=186',
 'PULocationID=187',
 'PULocationID=188',
 'PULocationID=189',
 'PULocationID=19',
 'PULocationID=190',
 'PULocationID=191',
 'PULocationID=192',
 'PULocationID=193',
 'PULocationID=194',
 'PULocationID=195',
 'PULocationID=196',
 'PULocationID=197',
 'PULocationID=198',
 'PULocationID=20',
 'PULocationID=200',
 'PULocationID=201',
 'PULocationID=202',
 'PULocationID=203',
 'PULocationID=205',
 'PULocationID=206',
 'PULocationID=207',
 'PULocationID=208',
 'PULocationID=209',
 'PULocationID=21',
 'PULocationID=210',
 'PULocationID=211',
 'PULocationID=212',
 'PULocationID=213',
 'PULocationID=214',
 'PULocationID=215',
 'PULocationID=216',
 'PULocationID=217',
 'PULocationID=218',
 'PULocationID=219',
 'PULocationID=22',
 'PULocationID=220',
 'PULocationID=221',
 'PULocationID=222',
 'PULocationID=223',
 'PULocationID=224',
 'PULocationID=225',
 'PULocationID=226',
 'PULocationID=227',
 'PULocationID=228',
 'PULocationID=229',
 'PULocationID=23',
 'PULocationID=230',
 'PULocationID=231',
 'PULocationID=232',
 'PULocationID=233',
 'PULocationID=234',
 'PULocationID=235',
 'PULocationID=236',
 'PULocationID=237',
 'PULocationID=238',
 'PULocationID=239',
 'PULocationID=24',
 'PULocationID=240',
 'PULocationID=241',
 'PULocationID=242',
 'PULocationID=243',
 'PULocationID=244',
 'PULocationID=245',
 'PULocationID=246',
 'PULocationID=247',
 'PULocationID=248',
 'PULocationID=249',
 'PULocationID=25',
 'PULocationID=250',
 'PULocationID=252',
 'PULocationID=253',
 'PULocationID=254',
 'PULocationID=255',
 'PULocationID=256',
 'PULocationID=257',
 'PULocationID=258',
 'PULocationID=259',
 'PULocationID=26',
 'PULocationID=260',
 'PULocationID=261',
 'PULocationID=262',
 'PULocationID=263',
 'PULocationID=264',
 'PULocationID=265',
 'PULocationID=27',
 'PULocationID=28',
 'PULocationID=29',
 'PULocationID=3',
 'PULocationID=31',
 'PULocationID=32',
 'PULocationID=33',
 'PULocationID=34',
 'PULocationID=35',
 'PULocationID=36',
 'PULocationID=37',
 'PULocationID=38',
 'PULocationID=39',
 'PULocationID=4',
 'PULocationID=40',
 'PULocationID=41',
 'PULocationID=42',
 'PULocationID=43',
 'PULocationID=44',
 'PULocationID=45',
 'PULocationID=46',
 'PULocationID=47',
 'PULocationID=48',
 'PULocationID=49',
 'PULocationID=50',
 'PULocationID=51',
 'PULocationID=52',
 'PULocationID=53',
 'PULocationID=54',
 'PULocationID=55',
 'PULocationID=56',
 'PULocationID=57',
 'PULocationID=58',
 'PULocationID=59',
 'PULocationID=60',
 'PULocationID=61',
 'PULocationID=62',
 'PULocationID=63',
 'PULocationID=64',
 'PULocationID=65',
 'PULocationID=66',
 'PULocationID=67',
 'PULocationID=68',
 'PULocationID=69',
 'PULocationID=7',
 'PULocationID=70',
 'PULocationID=71',
 'PULocationID=72',
 'PULocationID=73',
 'PULocationID=74',
 'PULocationID=75',
 'PULocationID=76',
 'PULocationID=77',
 'PULocationID=78',
 'PULocationID=79',
 'PULocationID=8',
 'PULocationID=80',
 'PULocationID=81',
 'PULocationID=82',
 'PULocationID=83',
 'PULocationID=84',
 'PULocationID=85',
 'PULocationID=86',
 'PULocationID=87',
 'PULocationID=88',
 'PULocationID=89',
 'PULocationID=9',
 'PULocationID=90',
 'PULocationID=91',
 'PULocationID=92',
 'PULocationID=93',
 'PULocationID=94',
 'PULocationID=95',
 'PULocationID=96',
 'PULocationID=97',
 'PULocationID=98',
 'trip_distance']

In [ ]:
target = 'duration'
y_train = df[target].values

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)

In [ ]:
y_pred =  lr.predict(X_train)

In [ ]:
sns.distplot(y_pred, label='prediction')
sns.distplot(y_train, label='actual')

plt.legend()

In [1]:
mean_squared_error(y_train, y_pred, squared=False)

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred =  lr.predict(X_train)