In [1]:
!python -V

Python 3.9.13

In [3]:
!pip install pandas
!pip install numpy

Collecting pandas
  Using cached pandas-2.1.4-cp39-cp39-win_amd64.whl (10.8 MB)
Collecting numpy<2,>=1.22.4
  Using cached numpy-1.26.2-cp39-cp39-win_amd64.whl (15.8 MB)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
     -------------------------------------- 346.6/346.6 KB 1.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: six>=1.5 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.4

WARNING: You are using pip version 22.0.4; however, version 23.3.2 is available.
You should consider upgrading via the 'D:\RGT\Code\MLOps\mlopsenv\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy in d:\rgt\code\mlops\mlopsenv\lib\site-packages (1.26.2)

WARNING: You are using pip version 22.0.4; however, version 23.3.2 is available.
You should consider upgrading via the 'D:\RGT\Code\MLOps\mlopsenv\Scripts\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd

In [7]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2023.10.1-cp39-cp39-win_amd64.whl (667 kB)
     -------------------------------------- 667.6/667.6 KB 1.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.5.0 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from fastparquet) (2.1.4)
Collecting fsspec
  Downloading fsspec-2023.12.2-py3-none-any.whl (168 kB)
     -------------------------------------- 169.0/169.0 KB 2.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from fastparquet) (1.26.2)
Requirement already satisfied: packaging in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from fastparquet) (23.2)
Collecting cramjam>=2.3
  Downloading cramjam-2.7.0-cp39-none-win_amd64.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 1.1 MB/s eta 0:00:00
Requirement already satisfied: tzdata>=2022.1 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.4)
Requirement already satisfied: pytz>=2020.1 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\rgt\code\mlops\mlopsenv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.7.0 fastparquet-2023.10.1 fsspec-2023.12.2

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000024F5D8ED910>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /packages/96/be/15248f34f7177519e73ac2fc984f4b50b73efa09f88f04db472dfe880e24/fastparquet-2023.10.1-cp39-cp39-win_amd64.whl
WARNING: You are using pip version 22.0.4; however, version 23.3.2 is available.
You should consider upgrading via the 'D:\RGT\Code\MLOps\mlopsenv\Scripts\python.exe -m pip install --upgrade pip' command.

In [10]:
# Read the Parquet file
dfp = pd.read_parquet('./data/green_tripdata_2021-01.parquet')

In [11]:
# Save as CSV
dfp.to_csv('./data/green_tripdata_2021-01.csv', index=False)

In [12]:
df = pd.read_csv('./data/green_tripdata_2021-01.csv')

C:\Users\Sam Berchie\AppData\Local\Temp\ipykernel_7708\2343825876.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/green_tripdata_2021-01.csv')

In [14]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.00,0.50,0.5,2.81,0.00,NaN,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.00,0.50,0.5,1.00,0.00,NaN,0.3,8.30,1.0,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.00,0.50,0.5,0.00,0.00,NaN,0.3,9.30,2.0,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.00,0.00,-0.5,0.00,0.00,NaN,-0.3,-52.80,3.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,2,2021-01-31 21:38:00,2021-01-31 22:16:00,NaN,NaN,81,90,NaN,17.63,56.23,2.75,0.0,0.00,6.12,NaN,0.3,65.40,NaN,NaN,NaN
76514,2,2021-01-31 22:43:00,2021-01-31 23:21:00,NaN,NaN,35,213,NaN,18.36,46.66,0.00,0.0,12.20,6.12,NaN,0.3,65.28,NaN,NaN,NaN
76515,2,2021-01-31 22:16:00,2021-01-31 22:27:00,NaN,NaN,74,69,NaN,2.50,18.95,2.75,0.0,0.00,0.00,NaN,0.3,22.00,NaN,NaN,NaN
76516,2,2021-01-31 23:10:00,2021-01-31 23:37:00,NaN,NaN,168,215,NaN,14.48,48.87,2.75,0.0,0.00,6.12,NaN,0.3,58.04,NaN,NaN,NaN
76517,2,2021-01-31 23:25:00,2021-01-31 23:35:00,NaN,NaN,119,244,NaN,1.81,15.45,2.75,0.0,0.00,0.00,NaN,0.3,18.50,NaN,NaN,NaN

In [20]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime) 
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)

In [27]:
df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

In [29]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.50,...,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.00,3.933333
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.00,...,0.5,2.81,0.00,NaN,0.3,16.86,1.0,1.0,2.75,8.750000
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.00,...,0.5,1.00,0.00,NaN,0.3,8.30,1.0,1.0,0.00,5.966667
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.00,...,0.5,0.00,0.00,NaN,0.3,9.30,2.0,1.0,0.00,7.083333
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.00,...,-0.5,0.00,0.00,NaN,-0.3,-52.80,3.0,1.0,0.00,0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,2,2021-01-31 21:38:00,2021-01-31 22:16:00,NaN,NaN,81,90,NaN,17.63,56.23,...,0.0,0.00,6.12,NaN,0.3,65.40,NaN,NaN,NaN,38.000000
76514,2,2021-01-31 22:43:00,2021-01-31 23:21:00,NaN,NaN,35,213,NaN,18.36,46.66,...,0.0,12.20,6.12,NaN,0.3,65.28,NaN,NaN,NaN,38.000000
76515,2,2021-01-31 22:16:00,2021-01-31 22:27:00,NaN,NaN,74,69,NaN,2.50,18.95,...,0.0,0.00,0.00,NaN,0.3,22.00,NaN,NaN,NaN,11.000000
76516,2,2021-01-31 23:10:00,2021-01-31 23:37:00,NaN,NaN,168,215,NaN,14.48,48.87,...,0.0,0.00,6.12,NaN,0.3,58.04,NaN,NaN,NaN,27.000000
76517,2,2021-01-31 23:25:00,2021-01-31 23:35:00,NaN,NaN,119,244,NaN,1.81,15.45,...,0.0,0.00,0.00,NaN,0.3,18.50,NaN,NaN,NaN,10.000000

In [30]:
df[df.trip_type == 2]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
6,2,2021-01-01 00:19:14,2021-01-01 00:19:21,N,5.0,265,265,1.0,0.00,180.0,...,0.0,36.06,0.0,NaN,0.3,216.36,1.0,2.0,0.0,0.116667
15,2,2021-01-01 00:29:05,2021-01-01 00:29:07,N,5.0,42,264,1.0,0.00,10.0,...,0.0,2.06,0.0,NaN,0.3,12.36,1.0,2.0,0.0,0.033333
30,2,2021-01-01 00:35:29,2021-01-01 00:55:15,N,5.0,74,247,1.0,3.64,13.0,...,0.0,0.00,0.0,NaN,0.3,13.30,2.0,2.0,0.0,19.766667
43,2,2021-01-01 23:12:41,2021-01-02 01:13:53,N,5.0,95,82,1.0,0.00,9.7,...,0.0,2.00,0.0,NaN,0.3,12.00,1.0,2.0,0.0,121.200000
45,2,2021-01-01 01:49:29,2021-01-01 01:49:33,N,5.0,244,244,5.0,0.02,12.0,...,0.0,2.46,0.0,NaN,0.3,14.76,1.0,2.0,0.0,0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40363,2,2021-01-31 19:26:20,2021-01-31 19:35:47,N,5.0,167,248,2.0,1.31,10.0,...,0.0,0.00,0.0,NaN,0.3,10.30,2.0,2.0,0.0,9.450000
40364,2,2021-01-31 19:44:54,2021-01-31 20:19:56,N,5.0,147,147,2.0,6.97,30.0,...,0.0,0.00,0.0,NaN,0.3,30.30,2.0,2.0,0.0,35.033333
40377,2,2021-01-31 20:09:41,2021-01-31 20:10:21,N,5.0,95,95,1.0,0.00,15.0,...,0.0,3.06,0.0,NaN,0.3,18.36,1.0,2.0,0.0,0.666667
40394,2,2021-01-31 20:38:42,2021-01-31 20:38:45,N,5.0,75,264,1.0,0.00,5.0,...,0.0,0.20,0.0,NaN,0.3,5.50,1.0,2.0,0.0,0.050000
40430,2,2021-01-31 21:48:08,2021-01-31 22:11:17,N,5.0,69,242,2.0,6.32,16.0,...,0.0,0.00,0.0,NaN,0.3,16.30,2.0,2.0,0.0,23.150000

In [32]:
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df.duration.describe()

count    76518.000000
mean        19.927896
std         59.338594
min          0.000000
25%          8.000000
50%         13.883333
75%         23.000000
max       1439.600000
Name: duration, dtype: float64